<div class="container">
  <div class="calendar">
    <div> select dates for hire </div>
      <div>
        <%= simple_form_for([@starship, @booking]) do |f| %>
          <%= f.input :starts_date,
          as: :string,
          input_html: { data: { controller: "datepicker" } } %>

          <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

          <%= f.button :submit %>
        <% end %>
      </div>
  </div>
</div>
