.navbar-lewagon {
  justify-content: space-between;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(40, 17, 17, 0.238);
  border-bottom: 2px $red;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;

  a, p, h1, h2, h3 {
    color: aliceblue;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand .btn:hover {
  font: $light-gray;
}
