<h1>Futuristic Spaceship Marketplace</h1>
<%# <div id="carousel">
  <!-- 3D moving carousels go here -->
</div> %>
<%# <%= link_to 'View Profile', profile_path %>
<%# <%= link_to 'Edit Profile', edit_profile_path %>
<%# <%= link_to 'Delete Account', account_delete_path, method: :delete, data: { confirm: 'Are you sure?' } %>
